.brush .extent{
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.selected {
    fill: #afa2dc;
    stroke: #2f225d;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis {
    font: 10px sans-serif;
}

 /*Creates a small triangle extender for the tooltip */
.tooltip2:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: left;
  margin: -1px 0 0 0;
  top: 98%;
  left: 10px;
}

/* Style northward tooltips differently */
